
<div style="overflow:hidden; padding:40px;" class="main-wrapper">
	<div class="admin-panel">
		<h2>admin panel</h2>
		<a href='/contacts'>contact forms</a><br>
		<a href='/applications'>application forms</a>
	</div>
</div>

